@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:100,200,300,400');

body, html{
    background-color: #222;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

h1{
    color: white;
    font-family: "IBM Plex Sans Condensed";
}

h3{
    color: white;
    font-family: sans-serif;
    letter-spacing: normal;
}

.metadata{
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}

.movie-tile{
    padding: 25px;
}

.movie-tile img{
    width: 100%;
}

.metadata div:last-child{
    text-align: right;
}

.pure-g [class*=pure-u]{
    box-sizing: border-box;
}

pre{
    color: white;
    white-space: pre;
    background-color: #222;
    max-height: 800px;
    overflow-y: auto;
    padding: 40px
}

.page-list{
    padding: 25px;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 40px;
}

.page-list li{
    margin-right: 10px;
}

.page-list li a{
    color: white;
    text-decoration: none;
}