@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:100,200,300,400');

body, html{
    background-color: #222;
    background-image: url("img/space-background.png");
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

h1{
    color: white;
    padding: 20px 40px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .7);
    display: inline-block;
    width: 100%;
    text-align: center;
    border-bottom: 5px solid rgba(150, 150, 150, 1);
    font-weight: 200;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

pre{
    color: white;
    white-space: pre;
    background-color: #222;
    max-height: 200px;
    overflow-y: auto;
}